* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;

  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}

ul {
  list-style: none;
  display: flex;
  gap: 48px;
}

a {
  color: #1f1534;
  text-decoration: none;
}

ul li a {
  opacity: 0.5;
}

ul li a:hover {
  opacity: 1;
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1,
ul {
  font-family: "Mulish", sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 49px;
  line-height: 56px;

  color: #1f1534;
  width: 490px;
}

h1 span {
  color: #89c5cc;
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;

  color: #7d7987;
  width: 438px;
  margin: 40px 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 32px 15px;
  gap: 10px;

  color: #fff;
  background: #69b99d;
  border: none;
  border-radius: 4px;

  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

button:hover {
  cursor: pointer;
  background: #5eae92;
}

footer {
  font-size: 14px;
  line-height: 28px;

  text-align: center;
  margin-top: 80px;
  padding-bottom: 88px;
}

footer a {
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#balls {
  position: fixed;
  right: 0;
  bottom: 0;
}
